In [14]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
import os
from copy import copy
pd.options.display.float_format = '{:.4f}'.format

In [31]:
def load_df(name):
    df = dd.read_csv('/home/filip/Desktop/Ruđer/Data/'+name,header=None,dtype={0: int,1: float,2: float})
    df['Timestamp'] = df[0].astype('M8[s]')
    df.set_index('Timestamp')
    df['Timestamp'] = df['Timestamp'].dt.floor("min")
    df = df.loc[df["Timestamp"]>"2014-01-01 01:00:00"]
    df = df.groupby("Timestamp").agg({1: ['mean',"first","last", 'std','count','min',"max"],2:['mean',"sum"]})
    df = df.compute()
    df["High"] = df[1]["max"]
    df["Low"] = df[1]["min"]
    df["Trades"] = df[1]["count"]
    df["Std"] = df[1]["std"]
    df["Price"] = df[1]["mean"]
    df["Open"] = df[1]["first"]
    df["Close"] = df[1]["last"]
    df["Volume"] = df[2]["sum"]
    df["Volume_mean"] = df[2]["mean"]
    df.drop(columns=[1,2],inplace=True)
    df['Timestamp'] = df.index
    return df

In [32]:
exchanges = os.listdir("/home/filip/Desktop/Ruđer/Data/")
for name in exchanges:
    df = load_df(name)
    df.to_csv(index=False, path_or_buf="/home/filip/Desktop/Ruđer/MinuteData/"+name+"_1-min_data.csv")
    print(df.head())

/home/filip/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:853: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

                        High      Low Trades    Std    Price     Open  \

Timestamp
2014-01-01 01:01:00 743.6700 742.1100     18 0.3787 742.7515 742.9989
2014-01-01 01:02:00 744.9800 744.9800      1    nan 744.9800 744.9800
2014-01-01 01:03:00 746.6000 744.5000      7 0.9560 745.8366 744.9900
2014-01-01 01:04:00 746.6000 744.5000     22 0.4677 744.7259 744.5000
2014-01-01 01:05:00 745.0000 745.0000      3 0.0000 745.0000 745.0000

                       Close  Volume Volume_mean           Timestamp

Timestamp
2014-01-01 01:01:00 742.9500 25.6600      1.4256 2014-01-01 01:01:00
2014-01-01 01:02:00 744.9800  0.1000      0.1000 2014-01-01 01:02:00
2014-01-01 01:03:00 744.5000 11.1000      1.5857 2014-01-01 01:03:00
2014-01-01 01:04:00 745.0000  9.6638      0.4393 2014-01-01 01:04:00
2014-01-01 01:05:00 745.0000  0.5500      0.1833 2014-01-01 01:05:00

/home/filip/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:853: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

                        High      Low Trades Std    Price     Open    Close  \

Timestamp
2014-07-18 14:22:00 550.0000 550.0000      1 nan 550.0000 550.0000 550.0000
2014-07-18 14:28:00 617.7900 617.7900      1 nan 617.7900 617.7900 617.7900
2014-07-18 14:51:00 617.7900 617.7900      1 nan 617.7900 617.7900 617.7900
2014-07-18 14:55:00 575.0100 575.0100      1 nan 575.0100 575.0100 575.0100
2014-07-18 14:59:00 575.0000 575.0000      1 nan 575.0000 575.0000 575.0000

                    Volume Volume_mean           Timestamp

Timestamp
2014-07-18 14:22:00 0.0001      0.0001 2014-07-18 14:22:00
2014-07-18 14:28:00 0.0011      0.0011 2014-07-18 14:28:00
2014-07-18 14:51:00 0.0000      0.0000 2014-07-18 14:51:00
2014-07-18 14:55:00 0.0011      0.0011 2014-07-18 14:55:00
2014-07-18 14:59:00 0.0030      0.0030 2014-07-18 14:59:00

/home/filip/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:853: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

                        High      Low Trades Std    Price     Open    Close  \

Timestamp
2014-01-01 02:00:00 740.0000 740.0000      1 nan 740.0000 740.0000 740.0000
2014-01-01 02:27:00 757.0002 757.0002      1 nan 757.0002 757.0002 757.0002
2014-01-01 04:47:00 746.2219 746.2219      1 nan 746.2219 746.2219 746.2219
2014-01-01 05:00:00 746.6061 746.6061      1 nan 746.6061 746.6061 746.6061
2014-01-01 06:38:00 743.2375 743.2375      1 nan 743.2375 743.2375 743.2375

                    Volume Volume_mean           Timestamp

Timestamp
2014-01-01 02:00:00 0.0100      0.0100 2014-01-01 02:00:00
2014-01-01 02:27:00 0.9900      0.9900 2014-01-01 02:27:00
2014-01-01 04:47:00 0.9900      0.9900 2014-01-01 04:47:00
2014-01-01 05:00:00 0.9900      0.9900 2014-01-01 05:00:00
2014-01-01 06:38:00 0.9900      0.9900 2014-01-01 06:38:00
                         High       Low Trades Std     Price      Open  \

Timestamp
2017-05-31 22:35:00 2192.0000 2192.0000      1 nan 2192.0000 2192.0000
2017-05-31 22:40:00 2190.5500 2190.5500      1 nan 2190.5500 2190.5500
2017-05-31 22:45:00 2204.0000 2204.0000      1 nan 2204.0000 2204.0000
2017-05-31 22:50:00 2203.0000 2203.0000      1 nan 2203.0000 2203.0000
2017-05-31 22:55:00 2196.6000 2196.6000      1 nan 2196.6000 2196.6000

                        Close Volume Volume_mean           Timestamp

Timestamp
2017-05-31 22:35:00 2192.0000 0.0000      0.0000 2017-05-31 22:35:00
2017-05-31 22:40:00 2190.5500 0.0000      0.0000 2017-05-31 22:40:00
2017-05-31 22:45:00 2204.0000 0.0000      0.0000 2017-05-31 22:45:00
2017-05-31 22:50:00 2203.0000 0.0000      0.0000 2017-05-31 22:50:00
2017-05-31 22:55:00 2196.6000 0.0000      0.0000 2017-05-31 22:55:00

/home/filip/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:853: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

                        High      Low Trades    Std    Price     Open  \

Timestamp
2014-01-01 01:02:00 739.0000 739.0000      1    nan 739.0000 739.0000
2014-01-01 01:04:00 739.0000 738.1100      3 0.5138 738.4067 739.0000
2014-01-01 01:05:00 738.5000 738.5000      1    nan 738.5000 738.5000
2014-01-01 01:06:00 739.0000 739.0000      1    nan 739.0000 739.0000
2014-01-01 01:07:00 738.5000 738.5000      1    nan 738.5000 738.5000

                       Close Volume Volume_mean           Timestamp

Timestamp
2014-01-01 01:02:00 739.0000 0.3800      0.3800 2014-01-01 01:02:00
2014-01-01 01:04:00 738.1100 0.9040      0.3013 2014-01-01 01:04:00
2014-01-01 01:05:00 738.5000 0.1000      0.1000 2014-01-01 01:05:00
2014-01-01 01:06:00 739.0000 0.0803      0.0803 2014-01-01 01:06:00
2014-01-01 01:07:00 738.5000 0.0240      0.0240 2014-01-01 01:07:00
Empty DataFrame
Columns: [(High, ), (Low, ), (Trades, ), (Std, ), (Price, ), (Open, ), (Close, ), (Volume, ), (Volume_mean, ), (Timestamp, )]
Index: []
                         High       Low Trades    Std     Price      Open  \

Timestamp
2017-07-03 06:38:00 2457.5000 2457.5000      1    nan 2457.5000 2457.5000
2017-07-03 06:39:00 2457.5000 2457.5000      1    nan 2457.5000 2457.5000
2017-07-03 06:40:00 2457.5000 2457.5000      1    nan 2457.5000 2457.5000
2017-07-03 06:41:00 2457.5000 2457.5000      2 0.0000 2457.5000 2457.5000
2017-07-03 06:43:00 2457.5000 2457.5000      1    nan 2457.5000 2457.5000

                        Close Volume Volume_mean           Timestamp

Timestamp
2017-07-03 06:38:00 2457.5000 0.7550      0.7550 2017-07-03 06:38:00
2017-07-03 06:39:00 2457.5000 1.6000      1.6000 2017-07-03 06:39:00
2017-07-03 06:40:00 2457.5000 0.7620      0.7620 2017-07-03 06:40:00
2017-07-03 06:41:00 2457.5000 4.5880      2.2940 2017-07-03 06:41:00
2017-07-03 06:43:00 2457.5000 2.6290      2.6290 2017-07-03 06:43:00

/home/filip/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:853: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

                        High      Low Trades    Std    Price     Open  \

Timestamp
2014-01-01 01:01:00 731.2000 731.2000      4 0.0000 731.2000 731.2000
2014-01-01 01:02:00 733.0000 732.9800      8 0.0104 732.9925 733.0000
2014-01-01 01:03:00 733.0000 732.9800      3 0.0115 732.9933 732.9800
2014-01-01 01:04:00 733.0000 732.9800      6 0.0082 732.9833 733.0000
2014-01-01 01:06:00 732.5000 732.5000      2 0.0000 732.5000 732.5000

                       Close  Volume Volume_mean           Timestamp

Timestamp
2014-01-01 01:01:00 731.2000  0.5164      0.1291 2014-01-01 01:01:00
2014-01-01 01:02:00 732.9800 11.1254      1.3907 2014-01-01 01:02:00
2014-01-01 01:03:00 733.0000  0.6029      0.2010 2014-01-01 01:03:00
2014-01-01 01:04:00 732.9800  1.7934      0.2989 2014-01-01 01:04:00
2014-01-01 01:06:00 732.5000  0.6694      0.3347 2014-01-01 01:06:00

/home/filip/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:853: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

                        High      Low Trades     Std    Price     Open  \

Timestamp
2014-01-01 11:39:00 725.9700 725.9600      3  0.0058 725.9633 725.9600
2014-01-01 11:40:00 759.8900 725.9600      6 18.2706 742.6483 725.9800
2014-01-01 11:41:00 759.8900 725.0900      6 17.4710 748.0583 759.8900
2014-01-01 11:42:00 760.4600 760.4500      2  0.0071 760.4550 760.4600
2014-01-01 11:43:00 760.8500 726.7200      6 17.5720 738.1350 726.9800

                       Close Volume Volume_mean           Timestamp

Timestamp
2014-01-01 11:39:00 725.9700 1.3300      0.4433 2014-01-01 11:39:00
2014-01-01 11:40:00 758.6800 2.7700      0.4617 2014-01-01 11:40:00
2014-01-01 11:41:00 759.8700 3.6600      0.6100 2014-01-01 11:41:00
2014-01-01 11:42:00 760.4500 1.4800      0.7400 2014-01-01 11:42:00
2014-01-01 11:43:00 760.8500 2.1900      0.3650 2014-01-01 11:43:00
                        High      Low Trades    Std    Price     Open  \

Timestamp
2014-03-09 07:44:00 621.0000 620.0000      2 0.7071 620.5000 621.0000
2014-03-10 04:57:00 620.0000 620.0000      1    nan 620.0000 620.0000
2014-03-10 04:59:00 620.5000 620.5000      1    nan 620.5000 620.5000
2014-03-10 05:00:00 621.0000 621.0000      1    nan 621.0000 621.0000
2014-03-10 05:05:00 621.6000 621.5000      2 0.0707 621.5500 621.5000

                       Close Volume Volume_mean           Timestamp

Timestamp
2014-03-09 07:44:00 620.0000 0.0200      0.0100 2014-03-09 07:44:00
2014-03-10 04:57:00 620.0000 0.0100      0.0100 2014-03-10 04:57:00
2014-03-10 04:59:00 620.5000 0.0100      0.0100 2014-03-10 04:59:00
2014-03-10 05:00:00 621.0000 0.0100      0.0100 2014-03-10 05:00:00
2014-03-10 05:05:00 621.6000 0.0200      0.0100 2014-03-10 05:05:00
                        High      Low Trades    Std    Price     Open  \

Timestamp
2014-01-01 01:07:00 744.0000 743.5000      2 0.3536 743.7500 744.0000
2014-01-01 01:20:00 743.5000 743.5000      1    nan 743.5000 743.5000
2014-01-01 01:33:00 743.5000 743.5000      1    nan 743.5000 743.5000
2014-01-01 01:42:00 743.5000 743.5000      1    nan 743.5000 743.5000
2014-01-01 01:48:00 743.5000 743.5000      1    nan 743.5000 743.5000

                       Close Volume Volume_mean           Timestamp

Timestamp
2014-01-01 01:07:00 743.5000 0.6659      0.3330 2014-01-01 01:07:00
2014-01-01 01:20:00 743.5000 0.1954      0.1954 2014-01-01 01:20:00
2014-01-01 01:33:00 743.5000 2.9135      2.9135 2014-01-01 01:33:00
2014-01-01 01:42:00 743.5000 1.1500      1.1500 2014-01-01 01:42:00
2014-01-01 01:48:00 743.5000 0.1367      0.1367 2014-01-01 01:48:00

/home/filip/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:853: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

                        High      Low Trades    Std    Price     Open  \

Timestamp
2014-01-07 18:18:00 892.0675 874.6704      3 8.6986 883.3547 874.6704
2014-01-07 18:21:00 883.2309 874.4816      2 6.1866 878.8563 883.2309
2014-01-07 19:07:00 866.1094 866.1094      4 0.0000 866.1094 866.1094
2014-01-07 19:12:00 866.0994 866.0994      4 0.0000 866.0994 866.0994
2014-01-07 19:13:00 866.0994 860.0000      3 3.4434 863.9729 866.0994

                       Close Volume Volume_mean           Timestamp

Timestamp
2014-01-07 18:18:00 892.0675 0.0319      0.0106 2014-01-07 18:18:00
2014-01-07 18:21:00 874.4816 0.0215      0.0108 2014-01-07 18:21:00
2014-01-07 19:07:00 866.1094 0.0536      0.0134 2014-01-07 19:07:00
2014-01-07 19:12:00 866.0994 0.0536      0.0134 2014-01-07 19:12:00
2014-01-07 19:13:00 860.0000 0.0671      0.0224 2014-01-07 19:13:00
                         High       Low Trades Std     Price      Open  \

Timestamp
2019-01-24 16:17:00 3550.7700 3550.7700      1 nan 3550.7700 3550.7700
2019-01-24 16:20:00 3551.0800 3551.0800      1 nan 3551.0800 3551.0800
2019-01-24 16:23:00 3551.1600 3551.1600      1 nan 3551.1600 3551.1600
2019-01-24 16:25:00 3551.8500 3551.8500      1 nan 3551.8500 3551.8500
2019-01-24 16:27:00 3550.9700 3550.9700      1 nan 3550.9700 3550.9700

                        Close  Volume Volume_mean           Timestamp

Timestamp
2019-01-24 16:17:00 3550.7700  5.0134      5.0134 2019-01-24 16:17:00
2019-01-24 16:20:00 3551.0800  1.9923      1.9923 2019-01-24 16:20:00
2019-01-24 16:23:00 3551.1600 11.3024     11.3024 2019-01-24 16:23:00
2019-01-24 16:25:00 3551.8500 10.3473     10.3473 2019-01-24 16:25:00
2019-01-24 16:27:00 3550.9700 13.6206     13.6206 2019-01-24 16:27:00
                        High      Low Trades    Std    Price     Open  \

Timestamp
2014-05-16 08:46:00 446.6700 446.6700      1    nan 446.6700 446.6700
2014-05-16 08:47:00 446.6700 446.5900      2 0.0566 446.6300 446.6700
2014-05-16 08:48:00 446.5500 446.5500      1    nan 446.5500 446.5500
2014-05-16 08:49:00 446.6000 446.6000      2 0.0000 446.6000 446.6000
2014-05-16 08:52:00 446.6000 446.5500      3 0.0265 446.5800 446.5500

                       Close Volume Volume_mean           Timestamp

Timestamp
2014-05-16 08:46:00 446.6700 0.0823      0.0823 2014-05-16 08:46:00
2014-05-16 08:47:00 446.5900 0.1337      0.0668 2014-05-16 08:47:00
2014-05-16 08:48:00 446.5500 0.1796      0.1796 2014-05-16 08:48:00
2014-05-16 08:49:00 446.6000 0.3336      0.1668 2014-05-16 08:49:00
2014-05-16 08:52:00 446.5900 0.7516      0.2505 2014-05-16 08:52:00

/home/filip/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:853: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

                         High       Low Trades    Std     Price      Open  \

Timestamp
2017-08-07 12:40:00 3521.9000 3521.9000      1    nan 3521.9000 3521.9000
2017-08-07 12:41:00 3525.0000 3525.0000      1    nan 3525.0000 3525.0000
2017-08-07 12:43:00 3532.7400 3526.3800      3 3.1901 3529.7067 3526.3800
2017-08-07 12:45:00 3530.0100 3525.0000      4 2.3820 3528.4950 3525.0000
2017-08-07 12:46:00 3543.8800 3530.0100     10 5.2834 3538.8640 3530.0100

                        Close Volume Volume_mean           Timestamp

Timestamp
2017-08-07 12:40:00 3521.9000 0.1310      0.1310 2017-08-07 12:40:00
2017-08-07 12:41:00 3525.0000 5.0000      5.0000 2017-08-07 12:41:00
2017-08-07 12:43:00 3532.7400 0.3300      0.1100 2017-08-07 12:43:00
2017-08-07 12:45:00 3530.0100 1.0420      0.2605 2017-08-07 12:45:00
2017-08-07 12:46:00 3543.8800 7.8770      0.7877 2017-08-07 12:46:00
                         High       Low Trades Std     Price      Open  \

Timestamp
2018-09-06 08:39:00 6769.7495 6769.7495      1 nan 6769.7495 6769.7495
2018-09-06 08:42:00 6785.1907 6785.1907      1 nan 6785.1907 6785.1907
2018-09-06 08:48:00 6785.1907 6785.1907      1 nan 6785.1907 6785.1907
2018-09-06 08:53:00 6786.3545 6786.3545      1 nan 6786.3545 6786.3545
2018-09-06 08:55:00 6762.4671 6762.4671      1 nan 6762.4671 6762.4671

                        Close Volume Volume_mean           Timestamp

Timestamp
2018-09-06 08:39:00 6769.7495 0.4044      0.4044 2018-09-06 08:39:00
2018-09-06 08:42:00 6785.1907 0.5431      0.5431 2018-09-06 08:42:00
2018-09-06 08:48:00 6785.1907 0.9987      0.9987 2018-09-06 08:48:00
2018-09-06 08:53:00 6786.3545 0.1988      0.1988 2018-09-06 08:53:00
2018-09-06 08:55:00 6762.4671 0.8579      0.8579 2018-09-06 08:55:00

/home/filip/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:853: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

                        High      Low Trades Std    Price     Open    Close  \

Timestamp
2014-12-01 05:33:00 300.0000 300.0000      1 nan 300.0000 300.0000 300.0000
2014-12-01 05:40:00 300.0000 300.0000      1 nan 300.0000 300.0000 300.0000
2014-12-01 06:24:00 370.0000 370.0000      1 nan 370.0000 370.0000 370.0000
2014-12-01 06:50:00 370.0000 370.0000      1 nan 370.0000 370.0000 370.0000
2014-12-02 05:29:00 377.0000 377.0000      1 nan 377.0000 377.0000 377.0000

                    Volume Volume_mean           Timestamp

Timestamp
2014-12-01 05:33:00 0.0100      0.0100 2014-12-01 05:33:00
2014-12-01 05:40:00 0.0100      0.0100 2014-12-01 05:40:00
2014-12-01 06:24:00 0.0100      0.0100 2014-12-01 06:24:00
2014-12-01 06:50:00 0.0266      0.0266 2014-12-01 06:50:00
2014-12-02 05:29:00 0.0100      0.0100 2014-12-02 05:29:00
                        High      Low Trades Std    Price     Open    Close  \

Timestamp
2014-01-01 06:53:00 740.0000 740.0000      1 nan 740.0000 740.0000 740.0000
2014-01-01 10:59:00 740.0000 740.0000      1 nan 740.0000 740.0000 740.0000
2014-01-02 05:14:00 740.0000 740.0000      1 nan 740.0000 740.0000 740.0000
2014-01-02 21:08:00 785.0000 785.0000      1 nan 785.0000 785.0000 785.0000
2014-01-02 21:17:00 785.0000 785.0000      1 nan 785.0000 785.0000 785.0000

                    Volume Volume_mean           Timestamp

Timestamp
2014-01-01 06:53:00 0.0103      0.0103 2014-01-01 06:53:00
2014-01-01 10:59:00 0.0100      0.0100 2014-01-01 10:59:00
2014-01-02 05:14:00 1.0005      1.0005 2014-01-02 05:14:00
2014-01-02 21:08:00 0.2485      0.2485 2014-01-02 21:08:00
2014-01-02 21:17:00 0.3891      0.3891 2014-01-02 21:17:00

/home/filip/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:853: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

                        High      Low Trades    Std    Price     Open  \

Timestamp
2016-11-01 18:42:00 715.0000 715.0000      1    nan 715.0000 715.0000
2016-11-01 20:17:00 720.0000 720.0000      1    nan 720.0000 720.0000
2016-11-01 20:18:00 720.1990 720.1990      1    nan 720.1990 720.1990
2016-11-01 20:49:00 720.2000 720.1990      2 0.0007 720.1995 720.1990
2016-11-01 21:24:00 719.5030 717.0000      6 0.9998 719.0342 719.5030

                       Close Volume Volume_mean           Timestamp

Timestamp
2016-11-01 18:42:00 715.0000 0.0028      0.0028 2016-11-01 18:42:00
2016-11-01 20:17:00 720.0000 0.0013      0.0013 2016-11-01 20:17:00
2016-11-01 20:18:00 720.1990 0.0013      0.0013 2016-11-01 20:18:00
2016-11-01 20:49:00 720.2000 0.0041      0.0021 2016-11-01 20:49:00
2016-11-01 21:24:00 717.0000 0.0098      0.0016 2016-11-01 21:24:00

In [2]:
df = dd.read_csv('/home/filip/Desktop/Ruđer/Data/*.csv', 
                 header=None,
                 dtype={0: int,
                        1: float,
                        2: float})
df['Time'] = df[0].astype('M8[s]')
df['Time'] = df['Time'].dt.floor("min")
df = df.drop([0,2], axis=1)
df = df.loc[df["Time"]>"2014-01-01 01:00:00"]
print(df.Time.unique().count().compute())
df.head(npartitions=-1)

2946418

       1                Time
0  621.0 2014-03-09 07:44:00
1  620.0 2014-03-09 07:44:00
2  620.0 2014-03-10 04:57:00
3  620.5 2014-03-10 04:59:00
4  621.0 2014-03-10 05:00:00

In [6]:
df = df.groupby("Time").agg({1: ['mean',"first","last", 'std','count','min',"max"]}).compute()
df.head()

                              1
                           mean       std count     min     max        var
Time
2014-01-01 01:01:00  740.651264  4.572928    22  731.20  743.67  20.911673
2014-01-01 01:02:00  734.792000  4.047070    10  732.98  744.98  16.378773
2014-01-01 01:03:00  741.983649  6.252821    10  732.98  746.60  39.097766
2014-01-01 01:04:00  741.841613  4.810940    31  732.98  746.60  23.145147
2014-01-01 01:05:00  743.375000  3.250000     4  738.50  745.00  10.562500

In [12]:
df["High"] = df[1]["max"]
df["Low"] = df[1]["min"]
df["Trades"] = df[1]["count"]
df["Std"] = df[1]["std"]
df["Price"] = df[1]["mean"]
df["Var"] = df[1]["var"]
df["Open"] = df[1]["first"]
df["Close"] = df[1]["last"]
df['Timestamp'] = df.index
df.drop(columns=[1],inplace=True)
df.head()

                       High     Low Trades       Std       Price        Var

Time
2014-01-01 01:01:00  743.67  731.20     22  4.572928  740.651264  20.911673
2014-01-01 01:02:00  744.98  732.98     10  4.047070  734.792000  16.378773
2014-01-01 01:03:00  746.60  732.98     10  6.252821  741.983649  39.097766
2014-01-01 01:04:00  746.60  732.98     31  4.810940  741.841613  23.145147
2014-01-01 01:05:00  745.00  738.50      4  3.250000  743.375000  10.562500

In [ ]:
df.to_csv(index=False, path_or_buf="/home/filip/Desktop/Ruđer/MinuteData/trade_1-min_data.csv")